body {
    background-color: white;
}
.search {
    width: 312px;
    border-radius: 10px;
    padding: 0.5rem;
    display: inline-flex;
    flex-direction: row;
    margin-left: 35rem;
    margin-top: 2rem;
}
.pagination {
  position: relative;
  left: 26rem;
  top: 1rem;
}
.right {
    position: relative;
    right: 1rem;
}
.left {
    position: relative;
    left: 1rem;
}
.sort {
    position: relative;
    /* bottom: 5rem; */
    left: 65rem;
    top: 5rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 1181px;
      
    }
    .sort {
        display: none;
    }
    .card {
        height: 570vh;
        width: 1200px;
    }
    
    th {
        display: none;
    }
    tr {
        display: flex;
        width: 750px;
        
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    td {
        /* display: flex; */
        font-size: 45px;
        height: 350px;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 300px;
        flex-direction: column; 
    }
    .userid {
        display: none;
    }
    
   .search {
    width: 812px;
    margin-left: 15rem;
    padding: 15px 10px;
    font-size: 45px;
    display: inline-flex;
    
   }
   .pagination {
    position: relative;
    left: 20rem;
   }
   .pagination img {
    width: 100px;
   }
   .left {
    left: 5rem;
    position: relative;
   }
   .right {
    position: relative;
    right: 5rem;
   }
   .pagination .p {
    font-size: 55px;
   }
   .card-title h2 {
    font-size: 55px;
   }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .sort {
        position: relative;
        top: 5rem;
        left: 70rem;
        font-size: 55px;
    }
    .title, .body {
        font-size: 58px;
    }
    .container {
        width: 1181px;
      
    }
    .card {
        height: 570vh;
        width: 1200px;
    }
    
    th {
        display: none;
    }
    tr {
        display: flex;
        width: 750px;
        
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    td {
        /* display: flex; */
        font-size: 45px;
        height: 350px;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 300px;
        flex-direction: column; 
    }
    .userid {
        display: none;
    }
    
   .search {
    width: 812px;
    margin-left: 15rem;
    padding: 15px 10px;
    font-size: 45px;
    display: inline-flex;
    
   }
   .pagination {
    position: relative;
    left: 20rem;
   }
   .pagination img {
    width: 100px;
   }
   .left {
    left: 5rem;
    position: relative;
   }
   .right {
    position: relative;
    right: 5rem;
   }
   .pagination .p {
    font-size: 55px;
   }
   .card-title h2 {
    font-size: 55px;
   }
   
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
    .sort {
        position: relative;
        left: 75rem;
        top: 1rem;
        font-size: 50px;
    }
    .title, .body {
        font-size: 58px;
    }
    .container {
        width: 1181px;
       /* height: 500%; */
    }
    .card {
        height: 570vh;
        width: 1200px;
    }
    
    th {
        display: none;
    }
    tr {
        display: flex;
        width: 750px;
        
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    td {
        /* display: flex; */
        font-size: 45px;
        height: 350px;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 300px;
        flex-direction: column; 
    }
    .userid {
        display: none;
    }
    
   .search {
    width: 812px;
    margin-left: 15rem;
    padding: 15px 10px;
    font-size: 45px;
    display: inline-flex;
    
   }
   .pagination {
    position: relative;
    left: 20rem;
   }
   .pagination img {
    width: 100px;
   }
   .left {
    left: 5rem;
    position: relative;
   }
   .right {
    position: relative;
    right: 5rem;
   }
   .pagination .p {
    font-size: 55px;
   }
   .card-title h2 {
    font-size: 55px;
   }
}